annotated-types==0.6.0
certifi==2024.2.2
charset-normalizer==3.3.2
decorator==4.4.2
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.4.9
instagrapi==2.1.2
moviepy==1.0.3
numpy==1.26.4
pillow==10.3.0
proglog==0.1.10
pycryptodomex==3.20.0
pydantic==2.7.1
pydantic_core==2.18.2
PySocks==1.7.1
requests==2.31.0
tqdm==4.66.4
typing_extensions==4.11.0
urllib3==2.2.1
